*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg,#0f172a,#4c1d95,#be185d);
    color:white;
    line-height:1.6;
}
header{
    text-align:center;
    padding-top:70px;
}
header h1{
    font-size:32px;
    margin-bottom:5px;
}
.navbar{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
    padding:10px; 
    flex: 1;
    z-index: 1000;
}

.navbar ul{
    display:flex;
    justify-content:center;
    list-style:none;
}
.navbar li{
    margin:0 10px;
}
.navbar a{
    color:white;
    text-decoration:none;
    padding:8px 15px;
    border-radius:8px;
    transition:0.3s;
}

.navbar a:hover{
    background:white;
    color:black;
}
main{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}
article{
    max-width:700px;
}
section{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
    transition:0.3s;
}
section:hover{
    transform:translateY(-5px);
}
section h2{
    margin-bottom:10px;
    text-align:center;
}
#biodata{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.images img{
    width:150px;
    border-radius:10px;
}
#hobi ul{
    list-style:none;
    text-align:center;
}
#hobi li{
    margin:5px;
    padding:5px;
    background:rgba(255,255,255,0.1);
    border-radius:8px;
}
.box{
    display:flex;
    align-items:center;
    margin:10px 0;
}
.box i{
    font-size:20px;
    margin-right:10px;
}
.box img{
    width:40px;
    border-radius:6px;
    margin-right:10px;
}
.box a{
    color: linear-gradient(135deg,#0f172a,#4c1d95,#be185d);
    text-decoration:none;
    background: white;
    padding:5px 10px;
    border-radius:6px;
    margin-left:10px;
    transition:0.3s;
}
.box a:hover{
    background:white;
    color:black
}
aside{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    padding:20px;
    border-radius:15px;
    text-align:center;
    height:fit-content;
}
.poto2{
    width:120px;
    border-radius:50%;
    margin-top:10px;
}
footer{
    text-align:center;
    padding:20px;
    margin-top:20px;
    background:rgba(0,0,0,0.3);
}
a{
    color:#60a5fa;
}
a:hover{
    color: #3b82f6;
}
@media screen and (max-width:768px){
    main{
        flex-direction:column;
        align-items: center;
    }
    article{
        width:90%;
    }
    aside{
        width:90%;
    }
    #biodata{
        flex-direction:column;
        text-align:center;
    }
    .images img{
        margin-top:10px;
        width:120px
    }
    .navbar ul{
        flex-direction:column;
    }
}